.general--information {
  @extend %topBorder;
}
.general-information__header {
  margin: $marginS;

  @media (min-width: 768px) {
    margin: $marginM;
  }
  @media (min-width: 1366px) {
    margin: $marginL;
    display: flex;
  }
}

h1 {
  @include text(bold, 28px, 40px, $darkText);
  position: relative;
  margin: 0;
  flex-grow: 1;

  &::before {
    content: url('../img/highlight.png');
    position: absolute;
    left: -$marginS;

    @media (min-width: 768px) {
      left: -$marginM;
    }
    @media (min-width: 1366px) {
      left: -$marginL;
    }
  }
}

.general-information__button {
  display: none;

  @media (min-width: 1366px) {
    display: flex;
  }

  button {
    font-family: $font;
    @include text(500, 16px, 24px, $darkText);
    border: none;
    background: inherit;
    display: flex;
    align-items: center;

    &:first-child {
      margin-right: 30px;
      &::after {
        content: url('../img/repair.svg');
        height: 40px;
        margin-left: 8px;
      }
    }
    &:last-child {
      &::after {
        content: url('../img/checkstatus.svg');
        height: 40px;
        margin-left: 8px;
      }
    }
  }
}

.general-information__navigation {
  position: relative;
  padding: 0 $marginS;

  @media (min-width: 768px){
    padding: 0 $marginM;
  }
  @media (min-width: 1366px){
    padding: 0 $marginL;
  }

  &::after , &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;

    @media (min-width: 1366px){
      display: none;
    }
  }
  &::before {
  left: 0;
  background-image: linear-gradient(to left, transparent 20%, #F8F8F8 );
  }
  &::after {
    right: 0;
	  background-image: linear-gradient(to right, transparent 20%, $bgColor);
  }

  .navigation {
    list-style: none;
    padding: $marginS 0 ;
    margin: 0;
    display:flex;
    overflow-x: scroll;
    overflow-y: hidden;

    @media (min-width: 1366px) {
      overflow-x: hidden;
      flex-wrap: wrap;
    }

    &__item {
      flex-shrink: 0;
      padding-right: $marginS;

      @media (min-width: 768px) {
        padding-right: $marginM;
      }
      @media (min-width: 1366px) {
        margin-bottom: $marginM;
      }

      &:last-child {
        @media (min-width: 1440px) {
          margin-left: $marginM;
        }
      }
    }
    &__link {
      text-decoration: none;
      @include text(500, 16px, 24px, $greyText);

      &--active {
        border: 2px solid $accentGreen;
        border-radius: 6px;
        background-color: $elemBg;
        padding: 8px 16px;
      }
    }
  }
}

.general-information__text {
  display: flex;
  flex-direction: column;
  padding: $marginS;

  @media (min-width: 768px) {
    flex-direction: row;
    padding: $marginM;
  }
  @media (min-width: 1366px) {
    padding: $marginL;
    padding-top: 0;
  }

  .text {

    @media (min-width: 768px) {
      margin-right: 48px;
    }

    &__information {
      @include text(normal, 14px, 18px, $darkText);
      letter-spacing: 0.2px;
      margin: 0;
      margin-bottom: 10px;
      height: 90px;
      overflow: hidden;

      @media (min-width: 768px) {
        height: 160px;
        line-height: 20px;
      }
      @media (min-width: 1366px) {
        height: 160px;
        width: 490px;
      }
    }
    &__more-button {
      font-family: $font;
      @include text(500, 16px, 24px, $darkText);
      border: none;
      background: inherit;
      padding: 0;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      &::before {
        content: url('../img/expand.svg');
        height: 26px;
      }
    }
  }

  .image-nameplate {
    align-self: center;
    width: 100%;
    max-width: 530px;

    @media (min-width: 768px) {
      margin-right: $marginM;
      border-radius: 8px;
      width: 50%;
    }
    @media (min-width: 1366px) {
      width: 44%;
      flex-grow: 1;
    }
  }
}
