.generalInfo__navigation {
  position: relative;

  &::after , &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;

    @media (min-width: 1366px){
      display: none;
    }
  }
  &::before {
  left: 0;
background-image: linear-gradient(to left, transparent 20%, #F8F8F8 );
  }
  &::after {
    right: 0;
	  background-image: linear-gradient(to right, transparent 20%, $bgColor);
  }
}
.nav {
  list-style: none;
  margin: $marginS 0;
  padding: $marginS;
  display:flex;
  overflow-x: scroll;
  overflow-y: hidden;

  @media (min-width: 768px) {
    margin: $marginM 0;
    padding: $marginS $marginM;
  }
  @media (min-width: 1366px) {
    margin: $marginL 0 0;
    padding: $marginS $marginL;
    overflow-x: hidden;
    flex-wrap: wrap;
    justify-items: space-between;
  }

  &__item {
    flex-shrink: 0;
    padding-right: $marginS;

    @media (min-width: 768px) {
      padding-right: $marginM;
    }
    @media (min-width: 1366px) {
      padding-right: $marginL;
      margin-bottom: $marginM;
    }
  }
  &__link {
    text-decoration: none;
    @include text(500, 16px, 24px, $greyText);

    &--active {
      border: 2px solid $accentGreen;
      border-radius: 6px;
      background-color: $elemBg;
      padding: 8px 16px;
    }
  }
}
