.header {
  background-color: $elemBg;
  height: 88px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media (min-width: 1366px) {
    display: none;
  }

  button {
    height: 40px;
    width: 40px;
    border: none;
  }

}

.header__menu-logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin-left: $marginS;
  position: relative;

  @media(min-width: 768px) {
    margin-left: $marginM;
  }

  &:after {
    content: '';

    @media(min-width: 768px) {
      display: block;
      position: absolute;
      top: 10px;
      left: 60px;
      border-right: 2px solid $border;
      border-radius: 1px;
      height: 32px;
    }
  }
}

.header__menu-button {
  background: $elemBg url('../img/burgermenu.svg');
  margin-right: $marginS;

  @media(min-width: 768px) {
    margin-right: 40px;
  }
}

.header__information-button {
  display: flex;
}

.personale-button {
  display: none;
  padding-right: 16px;

  @media(min-width: 768px) {
    display: block;
  }

  &__call {
    background: $elemBg url('../img/call.svg');
  }
  &__feedback {
    background: $elemBg url('../img/chat.svg');
    margin-left: $marginS;
  }
  &__profile {
    background: $elemBg url('../img/profile.svg');
    margin-left: $marginS;
  }
}

.service-button {
  padding-left: 16px;
  margin-right: $marginS;
  position: relative;

  @media(min-width: 768px) {
    margin-right: $marginM;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 0;
    border-right: 2px solid $border;
    border-radius: 1px;
    height: 32px;
  }
  &__repair {
    background: $elemBg url('../img/repair.svg');
  }
  &__checkstatus{
    background: $elemBg url('../img/checkstatus.svg');
    margin-left: $marginS;
  }
}
