.modal-call {
  opacity: 0;
  visibility: hidden;
  transform: translate(100%, 0);
  transition: all 0.3s;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
  16px 0px 52px rgba(14, 24, 80, 0.2);

  &__content {
    background: $elemBg;
    padding: $marginS;
    background-color: $elemBg;
    width: 100vw;
    height: 100vh;

    @media (min-width: 360px) {
      padding: $marginM;
    }

    @media (min-width: 768px) {
      width: 440px;
      padding: $marginL;
    }
  }
}

.modal--active {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}

.call-close {
  width: 40px;
  height: 40px;
  border: none;
  background: url(../img/burgerX.svg);

  @media (min-width: 768px) {
    position: absolute;
    left: -70px;
    top: 46px;
  }
}

.modal-call__header {
  @include text(bold, 24px, 32px, $darkText);
  position: relative;

  &::before {
    content: url('../img/highlight.png');
    position: absolute;
    left: -$marginS;
    top: -5px;

    @media (min-width: 360px) {
      left: -$marginM;
    }
    @media (min-width: 768px) {
      left: -$marginL;
    }
  }
}
