.modal-call {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
  16px 0px 52px rgba(14, 24, 80, 0.2);

  @media (min-width: 1366px) {
    background-color: $elemBg;
    align-self: stretch;
  }

  &__content {
    background: $elemBg;
    padding: 12px;
    background-color: $elemBg;
    width: 100vw;
    height: 100vh;

    @media (min-width: 768px) {
      width: 440px;
      padding: 32px;
    }
  }
}

.modal--active {
  opacity: 1;
  visibility: visible;
}

// .transform-call--open {
//   transform:  translate(-100%);
//   transition: 0.5s;
//   box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
//               16px 0px 52px rgba(14, 24, 80, 0.2);
//   @media (min-width: 768px) {
//     transform:  translate(-135%);
//   }
//   @media (min-width: 1366px) {
//     transform:  translate(-162%);
//   }
// }

// .transform-call--close {
//   transform: translate(100%);
//   transition:  0.5s;
//   box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
//               16px 0px 52px rgba(14, 24, 80, 0.2);
//   @media (min-width: 768px) {
//     transform:  translate(135%);
//   }
//   @media (min-width: 1366px) {
//     transform:  translate(162%);
//   }
// }

.call-close {
  width: 40px;
  height: 40px;
  border: none;
  background: url(../img/burgerX.svg);

  @media (min-width: 768px) {
    position: absolute;
    left: -70px;
    top: 46px;
  }
}

.modal-call__header {
  @include text(bold, 24px, 32px, $darkText);
  position: relative;

  &::before {
    content: url('../img/highlight.png');
    position: absolute;
    left: -12px;
    top: -5px;

    @media (min-width: 768px) {
      left: -32px;
    }
  }
}
