.modal-feedback {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
               16px 0px 52px rgba(14, 24, 80, 0.2);

  @media (min-width: 1366px) {
    background-color: $elemBg;
    align-self: stretch;
  }

  &__content {
    background: $elemBg;
    padding: 12px;
    background-color: $elemBg;
    width: 100vw;
    height: 100vh;

    @media (min-width: 768px) {
      width: 440px;
      padding: 32px;
    }
  }
}

.modal--active {
  opacity: 1;
  visibility: visible;
}

// .transform-feedback--open {
//   transform:  translate(-100%);
//   transition: 0.5s;
//   box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
//               16px 0px 52px rgba(14, 24, 80, 0.2);
//   @media (min-width: 768px) {
//     transform:  translate(-135%);
//   }
//   @media (min-width: 1366px) {
//     transform:  translate(-162%);
//   }
// }

// .transform-feedback--close {
//   transform: translate(100%);
//   transition:  0.5s;
//   box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
//               16px 0px 52px rgba(14, 24, 80, 0.2);
//   @media (min-width: 768px) {
//     transform:  translate(135%);
//   }
//   @media (min-width: 1366px) {
//     transform:  translate(162%);
//   }
// }

.modal-feedback__header {
  @include text(bold, 24px, 32px, $darkText);
  position: relative;

  &::before {
    content: url('../img/highlight.png');
    position: absolute;
    left: -12px;
    top: -5px;

    @media (min-width: 768px) {
      left: -32px;
    }
  }
}

.feedback-close {
  width: 40px;
  height: 40px;
  border: none;
  background: url(../img/burgerX.svg);

  @media (min-width: 768px) {
    position: absolute;
    left: -70px;
    top: 46px;
  }
}

form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  width: 100%;
  margin-bottom: $marginS;
  padding: 12px 16px;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  font-family: $font;
  @include text(normal, 16px, 24px, $greyText);

  &[value=''] {
    color: $darkText;
  }

}

.text-submit {
  @include text(500, 14px, 16px, $greyText);
  margin: 0;
  margin-bottom: $marginS;

  a {
    color: $accentRose;
    text-decoration: none;
  }
}

button[type=submit] {
  font-family: $font;
  @include text(bold, 12px, 24px, $elemBg);
  text-transform: uppercase;
  padding: 0 20px;
  text-align: left;
  background-color: $accentRose;
  height: 32px;
  width: 136px;
  border: none;
  outline: none;
  border-radius: 16px;
  align-self: flex-end;
  position: relative;


  &::after {
    content: url('../img/goside.svg');
    position: absolute;
  }
}
