.sidebar-menu {
    background-color: $elemBg;
    align-self: stretch;


  &__content {
  padding: $marginS;
  background-color: $elemBg;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 100%;
  z-index: 2;

    @media (min-width: 360px) {
      padding: $marginM;
    }
    @media (min-width: 768px) {
      width: 320px;
    }
    @media (min-width: 1366px) {
      width: 306px;
      max-height: 955px;
      position: static;
    }
  }
}
.sidebar-background {
  position: absolute;
  top: 0;
  display: none;
  height: 100vh;
  width: 100vw;
  background: $elemBg;
  opacity: 0.96;
  z-index: 99;
}

.transform-menu--open {
  transform: translate(100%);
  transition: 0.5s;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
}

.transform-menu--close {
  transform: translate(-100%);
  transition: 0.5s;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
}

.sidebar-menu__header {
  display: flex;
  align-items: center;
  justify-self: space-between;
  margin-bottom: 30px;

  button {
    width: 40px;
    height: 40px;
    border: none;
  }
  .menu-close {
    background: url(../img/burgerX.svg);
    margin-right: 16px;

    @media (min-width: 1366px) {
      display: none;
    }
  }
  .logo {

    margin-right: auto;
  }
  .search {
    background: url('../img/search.svg');
  }
}

.sidebar-menu__navigation {
  margin-bottom: auto;

  .site-nav {
    list-style-type: none;
    padding: 0;

    &__item {
      margin-bottom: $marginM;
    }
    &__link {
      text-decoration: none;
      @include text(500, 16px, 24px, $darkText);

      &--active {
        color: $greyText;
        position: relative;

        &::before {
          content: url('../img/highlightmini.png');
          position: absolute;
          left: -$marginS;

          @media (min-width: 360px) {
            left: -$marginM;
          }
        }
      }
    }
  }
}

.sidebar-menu__footer {

  button {
    width: 40px;
    height: 40px;
    border: none;
    margin-right: $marginS;
  }

  .call {
    background: url('../img/call.svg');
  }
  .feedback {
    background: url('../img/chat.svg');
  }
  .profile {
    background: url('../img/profile.svg');
  }

  a {
    text-decoration: none;
    color: $darkText;
  }
  .email {
    display: block;
    @include text(500, 16px, 24px, $darkText);
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .tel{
    display: block;
    @include text(bold, 24px, 32px, $darkText);
    margin-bottom: 8px;
  }
  .lang {
    @include text(500, 16px, 24px, $darkText);
  }
  .lang--active {
    color: $greyText;
  }
}
